@charset "utf-8";
/* CSS Document */

#wrap{
	width: 100%;
	margin: 0 auto;
	height: 1973px;
	}

#sub_con{
	position: relative;
	margin: 0 auto;
	top: -680px;
	left: 0;
	width: 940px;
	height: 1555px;
	}

#con_bg{
	position: absolute;
	float: right;
	width: 918px;
	height: 1520px;
	right: 0;
	background: #f7f7f7;
	}
	
#button{
	position: fixed;
	width: 893px;
	height: 37px;
	top: 380px;
	left: 530px;
	background: #f7f7f7;
	z-index: 30;
	}
#button>ul>li{
	float: left;
	width: 139px;
	height: 37px;
	margin-right: 10px;
	background: #a86a61;
	}
#his_btn01{
	position: relative;
	top: 8px;
	left: 52px;
	}
#his_btn02{
	position: relative;
	top: 8px;
	left: 19px;
	}
#his_btn03{
	position: relative;
	top: 8px;
	left: 15px;
	}
#button>ul:after{
	content:"";
	clear: both;
	display: block;
	}
	
#con_tit_5{
	position: relative;
	width: 858px;
	height: 28px;
	top: 25px;
	left: 25px;
	border-bottom: 2px solid #a48b55;
	}
#con5_01{
	position: relative;
	width: 858px;
	height: 30px;
	top: 80px;
	left: 25px;
	}
#con5_02{
	position: relative;
	width: 858px;
	height: 30px;
	top: 555px;
	left: 25px;
	}

footer{
	position: absolute;
	width: 100%;
	height: 120px;
	top: 1855px;
	background: #440707;
	}
#realfooter{
	position: relative;
	width: 990px;
	height: 90px;
	margin: 0 auto;
	}
#ft_logo{
	position: absolute;
	left: 15px;
	top: 5px;
	}
#realfooter>p{
	position: relative;
	float: left;
	left: 150px;
	top: 17px;
	font-size: 0.85em;
	color: #eac3c3;
	}
#footer:after{	
	content: "";
	display: block;
	clear: both;
	}
	


